@import "./../../style/function.scss";

.top_banner {
  @include rel(
    $d: flex,
    $ai: center, $jc: space-between,
    $bg: linear-gradient(171deg, $secsub, #DFDFF7),
    $pd: 16% 20px, $c: $wt, 
  );
  .txt_wrapper {
    @include fle (
      $ai: center, $jc: center,
      $w: 50%, $fs: 30px
    );
    text-shadow: 4px 6px $secsub;
  }
  .img_wrapper {
    @include abs(
      $r: 20px, $t: -20px
    );
    max-width: 40%;
    animation: flying 3s linear infinite;
  }
}

@keyframes flying {
  0%, 50%, 100% {
    right: 30px;
    top: -10px;
  }
  25% {
    right: 35px;
    top: 0px;
  }
  75% {
    right: 25px;
    top: 0px;
  }
}
