@import "./../../style/function.scss";

.sidebar {
  @include fix (
    $t: 0, $l: 0, $b: 0,
    $w: 100%, $pd: 25px 20px 20px,
    $bg: $main, $c: $wt
  );
  max-width: 300px;
  .logo {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    a {
      color: $wt;
    }
  }
  nav {
    padding-top: 25%;
    ul {
      li {
        padding: 5% 0;
        a {
          @include fle(
            $c: $wt, $fs: 20px,
            $pd: 10px 15px, $borRa: 15px
          );
          gap: 10px;
          text-transform: capitalize;
          transition: color .4s, background .4s;
          &:hover {
            background: $wt;
            color: $main;
          }
        }
      }
    }
  }
}