@import "./../../style/function.scss";

.sidebar {
  @include fix (
    $t: 0, $l: 0, $b: 0,
    $w: 100%, $pd: 25px 20px 20px,
    $bg: $main, $c: $wt
  );
  max-width: 300px;
  transition: all .4s;
  &.toggled {
    max-width: 100px;
    .logo {
      a {
        svg {
          margin-right: 0;
        }
        p {
          display: none;
        }
      }
    }
    nav {
      ul {
        li {
          a {
            justify-content: center;
            p {
              display: none;
            }
            &::before {
              display: none;
            }
            &:hover {
              svg {
                color: $main;
              }
            }
          }
        }
      }
    }
  }
  .logo {
    @include rel ();
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 20px;
    border-bottom: 1px solid $secsub;
    a {
      @include fle(
        $c: $wt, $jc: center
      );
      letter-spacing: -1.5px;
      svg {
        margin-right: 20px;
      }
    }
    .close_btn {
      @include abs (
        $t: 32%, $r: -45px,
        $borRa: 50%, $w: 50px, $h: 50px,
        $bg: $secsub, $d: flex, $ai: center, $jc: center,
        $fs: 23px
      );
      transform: translateY(-55%);
      cursor: pointer;
    }
  }
  nav {
    padding-top: 20%;
    ul {
      li {
        padding: 10px 0;
        a {
          @include rel (
            $c: $wt, $fs: 20px,
            $pd: 13px 15px, $borRa: 15px, $d: flex
          );
          gap: 20px;
          text-transform: capitalize;
          transition: color .4s, background .4s;
          svg {
            color: $wt;
            z-index: 1;
          }
          &::before {
            content: '';
            @include abs (
              $t: 3px, $b: 3px, $l: 4px,
              $borRa: 12px, $w: 45px, $bg: $main
            );
            opacity: 0;
            transition: opacity .4s;
          }
          &:hover {
            background: $wt;
            color: $main;
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    max-width: 100px;
    &.toggled {
      max-width: 300px;
      .logo {
        a {
          svg {
            margin-right: 20px;
          }
          p {
            display: block;
          }
        }
      }
      nav {
        ul {
          li {
            a {
              p {
                display: block;
              }
              &::before {
                display: block;
              }
              &:hover {
                svg {
                  color: $wt;
                }
              }
            }
          }
        }
      }
    }
    .logo {
      a {
        svg {
          margin-right: 0;
        }
        p {
          display: none;
        }
      }
    }
    nav {
      ul {
        li {
          a {
            justify-content: center;
            p {
              display: none;
            }
            &::before {
              display: none;
            }
            &:hover {
              svg {
                color: $main;
              }
            }
          }
        }
      }
    }
  }
}